# dependencies
node_modules/

# builds
.next/
out/
dist/
build/
.idea/

# caches
.turbo/
.vercel/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# macOS
.DS_Store
